<% content_for :sidebar do %>
  <aside id="sidebar">
    <div>
      <strong><%= @place.title %></strong>
      <span><%= link_to "(map)", @place.map_link %></span>
    </div>
    <p>Rating: <strong><%= @place.score %></strong> (from <%= @place.vote_count %> votes)</p>
  </aside>
<% end %>

<div id="show">
  <%= render "place", place: @place %>
</div>
