<% content_for :sidebar do %>
  <aside>
    <% if @last_rated_place %>
      You've just rated:
      <%= render "place_with_rating", place: @last_rated_place, thumbnail_is_link: false %>
    <% else %>
      ScenicOrNot helps you to explore every corner of England, Scotland and Wales, all the while comparing your aesthetic judgements with fellow players.
    <% end %>
  </aside>
<% end %>

<div id="rate">
  <div>
    <% (1..10).to_a.each do |i| %>
      <%= form_for([@place, @vote]) do |f| %>
        <%= f.hidden_field "rating", value: i.to_s %>
        <%= f.submit i.to_s %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "place", place: @place %>
