<% content_for :sidebar do %>
  <aside id="sidebar" class="alert alert-primary alert-dismissible fade show" role="alert">
    <% if @last_rated_place %>
      You've just rated:
      <%= render "place_with_rating", place: @last_rated_place, thumbnail_is_link: false %>
    <% else %>
      ScenicOrNot helps you to explore every corner of England, Scotland and Wales, all the while comparing your aesthetic judgements with fellow players.
    <% end %>
    <button type="button" class="btn-close hide-desktop" data-bs-dismiss="alert" aria-label="Close"></button>
  </aside>
<% end %>

<span class="rope"></span>
<div id="rate">
  <div id="inner">
    <h3 class="hide-desktop rate-heading">Voting Board</h3>
    <p class="hide-desktop rate-description"><span aria-hidden="true"> - </span>Tap a number below to vote<span aria-hidden="true"> - </span></p>
    <div class="range">
      <div class="less-scenic hide-desktop">
        <%= image_tag "not-scenic-mobile.png", alt: "Not Scenic" %><br/>
        Not<br />Scenic
      </div>

      <%= image_tag "not-scenic.png", alt: "Not Scenic", class: "hide-mobile" %>
      <% (1..10).to_a.each do |i| %>
        <%= form_for([@place, @vote]) do |f| %>
          <%= f.hidden_field "rating", value: i.to_s %>
          <%= f.submit i.to_s %>
          <% end %>
          <% end %>
      <div class="very-scenic hide-desktop">
        <%= image_tag "very-scenic-mobile.png", alt: "Very Scenic" %><br/>
        Very<br />Scenic
      </div>
      <%= image_tag "very-scenic.png", alt: "Very Scenic", class: "hide-mobile" %>
      </div>
  </div>
</div>

<%= render "place", place: @place %>
