<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= content_for?(:title) ? yield(:title) : I18n.t("app.name") %>
    </title>
    <meta content="<%= content_for?(:description) ? yield(:description) : I18n.t("app.name") %>" name="description"/>
    <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => "reload" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div id="container">
      <%= render "layouts/cookie_banner" %>
      <section id="header">
        <%= render "layouts/navigation" %>
        <%= yield :sidebar %>
      </section>
      <main role="main">
        <%= render "layouts/messages" %>
        <%= yield %>
      </main>
    </div>
    <footer>
      <p>A mini-project originally created for <a href="http://www.mysociety.org">mySociety</a>. Now hosted by the <a href="http://datasciencelab.co.uk/"> Data Science Lab</a>, <a href="http://www.wbs.ac.uk/">Warwick Business School.</a></p>
      <ul>
        <li>
          <a href="http://datasciencelab.co.uk/contact-us/">Contact us</a>
        </li>
        <li>
          <a href="/cookies">Privacy and cookies</a>
        </li>
      </ul>
    </footer>
    <script type="text/plain" data-cookies>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-65751732-2']);
     _gaq.push(['_gat._anonymizeIp']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
  </body>
</html>
